/**
 *	File: style.css
 * 	Description: added css styles to Peter Lightbody's update on the Sukyo Mahikari Website
 *	Author: Liching Yew
 *
 */

body{
	background-image: url("../img/sunflower.jpg");
	/** background: -webkit-linear-gradient(269deg, rgba(245,113,12,1) 0%, rgba(240,228,5,1) 100%); /* safari5.1+,chrome10+ */
	background-size: cover;
	color: #666;
}

header{
	background-color: #fff;
	padding: 0px;
}

body,
header{
	font-family: 'Open Sans', sans-serif;
}

h2 {
  text-align: left;
  font-size: 24px;
  font-weight: 300;
  padding: 24px 0px 12px 0px;
  color: #EEA849;
  line-height: 1.8;
}

#nav-logo{
	display: inline-block;
}

#nav-logo a{
	padding: 10px 10px 6px 12px;
	display: block;
}

.yellow-line{
	border-bottom: 2px solid #fcf0b9;
}

#contents{
	background-color: rgba(256, 256, 256, 0.90);
	padding: 24px 24px 120px 24px;
}

.slideshow{
	box-shadow: 0 0 5px #ccc;
    border: 5px solid #fff;
    border-bottom-width: 1px;
    background: #fff;
}

.other-content{
	padding: 32px;
}

.page-title{
	font-size: 32px;
	font-weight: 100;
	text-align: center;
	color: #666;
	padding: 12px 0px 35px 0px;
	border-bottom: 1px solid #666;
}

.parParagraph {
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    margin: 0 0 18px 0;
}

.parParagraph a{
	color: #eea849;
	font-weight: 600;
}

.parParagraph a:hover{
	border-bottom: 1px solid #C97954;
}

.hundred-percent{
	width: 100%;
	display: inline-block;
}

.fifty-percent{
	width: 50%;
	display: inline-block;
}

.thirty-three-percent{
	width: 33.333%;
	display: inline-block;
}

.twenty-five-percent{
	width: 25%;
	display: inline-block;
}

.image{
	width: 100%;
}

.img-caption{
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	text-align: center;
}

.list-2-col{
	columns: 2;
  	-webkit-columns: 2;
  	-moz-columns: 2;
  	list-style-type: none;
}

.black-line{
	border-bottom: 1px solid #666;
	margin-bottom: 18px;
}

.text-center{
	text-align: center;
}

/** Contact Us page */

.location-row{
	margin: 24px 50px;
	position: relative;
}

.loc-image{
	width: 45%;
	display: inline-block;
	padding-right: 24px;
	border-right: 1px solid #aaa;
}

.loc-image .image{
	border-radius: 12px;
}

.loc-address{
	width: 48%;
	display: inline-block;
	padding-left: 24px;
	color: #666;
	margin: 0;
   	position: absolute;
   	top: 50%;
   	transform: translate(0, -50%);
}

.loc-name{
	font-weight: 300;
    font-size: 27px;
    padding-bottom: 24px;
}

.loc-address p{
	font-size: 18px;
    font-weight: 300;
}

p.small{
	font-size: 14px;
    font-style: italic;
}