<footer>
  <div id="footerIn">
    <img class="iconGohonzan" src="img/icon_gohonzan-orange.png" width="92" height="70" alt=""/>
    <img src="img/logo_jp_white.png" width="136" height="52" alt=""/>
    <div id="address">
      <address>Sukyo Mahikari Australia Oceania<br>3 Mulley Street<br>Holder ACT 2611<br>Australia</address>
    </div>
    <p><small>Copyright &copy; Sukyo Mahikari. All rights reserved.</small></p>
  </div>
</footer>

<!-- Script for AJAX -->
<script>
	$(document).ready(function() {

		history.pushState(null, "", 'index.html');

		// When a linked is clicked in the content
		function setLinks() {

			$(".other-content a").click(function() {
				// get the page that we want

				if($(this).attr("data-ajax-link") == undefined){
					return false;
				}

				var loadPage = $(this).attr("data-ajax-link");

				console.log("loading in other content: " + loadPage);

				// load health page
				$.ajax({
				  method: "GET",
				  url: loadPage,
				  dataType: "text"
				})
				.done(function( data ) {

					$('#contents').fadeOut(function() {
						$("#contents").html($(data).filter('#contents').html());
						$('#contents').fadeIn();

						setLinks();

						history.pushState(null, "", loadPage);
					});
				});

				return false;
			});

		}


		//when a navbar menu item is clicked
		$("#nav-menu a, .other-content a").click(function() {
			// get the page that we want
			var loadPage = $(this).attr("data-ajax-link");

			console.log("loading in nav menu: " + loadPage);

			// load page
			$.ajax({
			  method: "GET",
			  url: loadPage,
			  dataType: "text"
			})
			.done(function( data ) {

				$('#contents').fadeOut(function() {
					$("#contents").html($(data).filter('#contents').html());
					$('#contents').fadeIn();

					setLinks();

					history.pushState(null, "", loadPage);
				});
			});

			return false;
		});

		function setLastLink(lastPage){

			console.log("here here!");

			var loadPage = lastPage;

			history.pushState(null, "", loadPage);

			console.log("did we get here?");

		}

		window.addEventListener("popstate", function(e) {
    		//console.log("location: " + document.location + ", state: " + JSON.stringify(event.state));
    		//setLastLink(document.location);
    		//window.location.href = document.location;

    		console.log("popstate fired!");
    	});
	});
</script>
