<header>
  <nav>
    <div id="nav-logo"><a href="index.html"><img src="img/logo_goshinmon_en-bar.png"/></a></div>
    <ul id="nav-menu">
      <li><a href="pages/ourVision.html">Our Vision</a>
        <ul class="dropdown-menu">
          <li><a href="pages/artSpiritualPurification.html">The Art of Spiritual Purification</a></li>
          <li><a href="pages/holyMasters.html">The Founder and Spiritual Leaders</a></li>
        </ul>
      </li>
      <li><a href="pages/yourInterest.html">What is Your Interest?</a>
        <ul class="dropdown-menu">
          <li><a href="pages/interests/whatIsSukyoMahikari.html">What is Sukyo Mahikari?</a></li>
          <li><a href="pages/interests/youth21stCentury.html">Youth in the 21st Century</a></li>
          <li><a href="pages/interests/healthWellbeing.html">Holistic Health and Well-being</a></li>
          <li><a href="pages/interests/relationshipsFamily.html">Relationships and Happy Families</a></li>
          <li><a href="pages/interests/financilEconomicProsperity.html">Financial and Economic Prosperity</a></li>
          <li><a href="pages/interests/sustainableEnvironmentAgriculture.html">Sustainable Environment and Agriculture</a></li>
          <li><a href="pages/interests/religousHarmony.html">Religious Harmony</a></li>
          <li><a href="pages/interests/workStudiesDailyLife.html">Fulfilment in Work, Studies and Daily Life</a></li>
          <li><a href="pages/interests/personalSpirituality.html">Personal Spirituality</a></li>
          <li><a href="pages/yourInterest.html#furtherReading">Further Reading – literature and websites</a></li>
        </ul>
      </li>
      <li><a href="pages/gallery.html">Gallery</a></li>
      <li><a href="pages/questionsAnswers.html">Q&A</a></li>
      <li><a href="pages/contactUs.html">Contact Us</a></li>
    </ul>
  </nav>
  <div class="yellow-line"></div>
</header>
