<header>
  <nav id="nav-bar">
    <div id="nav-logo"><a href="index.html"><img src="../../img/logo_goshinmon_en-bar.png"/></a></div>
    <ul id="nav-menu">
      <li><a href="../ourVision.html">Our Vision</a>
        <ul class="dropdown-menu">
          <li><a href="../artSpiritualPurification.html">The Art of Spiritual Purification</a></li>
          <li><a href="../holyMasters.html">Oshienushi (Spiritual Head)</a></li>
        </ul>
      </li>
      <li><a href="../yourInterest.html">What is Your Interest?</a>
        <ul class="dropdown-menu">
          <li><a data-ajax-link="whatIsSukyoMahikari.html" href="whatIsSukyoMahikari.html">What is Sukyo Mahikari?</a></li>
          <li><a href="youth21stCentury.html">Youth in the 21st Century</a></li>
          <li><a href="healthWellbeing.html">Holistic Health and Well-being</a></li>
          <li><a href="relationshipsFamily.html">Relationships and Happy Families</a></li>
          <li><a href="financilEconomicProsperity.html">Financial and Economic Prosperity</a></li>
          <li><a href="sustainableEnvironmentAgriculture.html">Sustainable Environment and Agriculture</a></li>
          <li><a href="religousHarmony.html">Religious Harmony</a></li>
          <li><a href="workStudiesDailyLife.html">Fulfilment in Work, Studies and Daily Life</a></li>
          <li><a href="personalSpirituality.html">Personal Spirituality</a></li>
          <li><a href="../yourInterest.html#furtherReading">Further Reading – literature and websites</a></li>
        </ul>
      </li>
      <li><a href="../../pages/gallery.html">Gallery</a></li>
      <li><a href="../../pages/questionsAnswers.html">Q&A</a></li>
      <li><a href="../../pages/contactUs.html">Contact Us</a></li>
    </ul>
  </nav>
  <div class="yellow-line"></div>
</header>
