<header>
  <nav>
    <div id="nav-logo"><a href="../index.html"><img src="../img/logo_goshinmon_en-bar.png"/></a></div>
    <ul id="nav-menu">
      <li><a href="ourVision.html">Our Vision</a>
        <ul class="dropdown-menu">
          <li><a href="artSpiritualPurification.html">The Art of Spiritual Purification</a></li>
          <li><a href="holyMasters.html">The Founder and Spiritual Leaders</a></li>
        </ul>
      </li>
      <li><a href="yourInterest.html">What is Your Interest?</a>
        <ul class="dropdown-menu">
          <li><a href="interests/whatIsSukyoMahikari.html">What is Sukyo Mahikari?</a></li>
          <li><a href="interests/youth21stCentury.html">Youth in the 21st Century</a></li>
          <li><a href="interests/healthWellbeing.html">Holistic Health and Well-being</a></li>
          <li><a href="interests/relationshipsFamily.html">Relationships and Happy Families</a></li>
          <li><a href="interests/financilEconomicProsperity.html">Financial and Economic Prosperity</a></li>
          <li><a href="interests/sustainableEnvironmentAgriculture.html">Sustainable Environment and Agriculture</a></li>
          <li><a href="interests/religousHarmony.html">Religious Harmony</a></li>
          <li><a href="interests/workStudiesDailyLife.html">Fulfilment in Work, Studies and Daily Life</a></li>
          <li><a href="interests/personalSpirituality.html">Personal Spirituality</a></li>
          <li><a href="yourInterest.html#furtherReading">Further Reading – literature and websites</a></li>
        </ul>
      </li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="questionsAnswers.html">FAQ</a></li>
      <li><a href="contactUs.html">Contact Us</a></li>
    </ul>
  </nav>
  <div class="yellow-line"></div>
</header>
